/* Reset css*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header*/
header{
    background-color: darksalmon;
    color: #ffff;
    height: 90px;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-nav li{
    float: left;
    padding: 36px 20px;
}
